.BAN {
    filter: grayscale(100%);
}

.DIRE {
    /* background: #EA2655;
     */
     color: #EA2655;
}

.RDNT {
    color: rgb(96, 196, 152);
}

#pickBanChart {
    table-layout: fixed;
    width: 550px;
    display: inline-block;
    float: left;
    text-align: left;
    margin: 0;
    border: solid 10px #3D4C5B;
    background: #3D4C5B;
}

.table td, .table th {
    border: none;
}

#pickBanChart tbody th {
    width: 80px;
}

#pickBanChart td {
    padding: 8px 0px;
    float: left;
}

.pickBanText {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
}

.pickBanDisplay {
    margin: 5px 2px;
    display: inline-block; 
    background: black;
}

.pickBansContainer {
    background: #3D4C5B;
    padding: 5px 6px;
    height: 100%;
    display: inline-block;
    border: solid 4px rgb(49, 71, 88);
    -webkit-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.75);
    height: 100%;
}

.outer-shadow-container {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    background: blue;
}
