#heroSearchBar {
    margin: 10px;
}

#heroes-outer-shadow {
    border: solid 2px black;
    width: 65%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.73);
    margin: 25px auto;
    /* margin-right: 300px; */
}

#heroes-inside-border {
    border: solid 5px blue;
    border-radius: 10px;
}

#heroSearchContainer {
    width: 90%;
    text-align: center;
    margin: auto;
    background: black;
    margin-top: 15px;
    padding-bottom: 10px;
}

.heroImgsContainer {
    border: solid 1px black;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.73);
    -moz-box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.73);
    box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.73);
    align-items: center;
    justify-content: center;
}

.innerHeroContainer {
    padding: 12px 4px 12px 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center;  */
    /* float: left; */
    text-align: left;
}

.heroCard {
    border: solid 2px black;
    cursor: pointer;
    /* display: flex; */
    /* display: inline; */
    /* justify-content: right; */
}

hr {
    /* border-top: 1px solid gray; */
    /* padding-bottom: 10px;  */
    margin: 0 auto;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}