.App {
  text-align: center;
}

.radiant-color {
  color: rgb(78, 189, 78);
}

.dire-color {
  color: rgb(230, 59, 59);
}

body {
  background: #343a40;
  color: #D7E0E9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-dark {
  background-color: #3D4C5B!important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding: 0;
}

/* .container, .container-lg, .container-xl {
  max-width: 1050px;
} */

@media (min-width: 1200px) {
  .large-container {
    max-width: 1040px;
  }
}

